<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>View Score by Student Id</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Student Details</h1>
<form th:action="get">
	<table border="1" style="border-style: solid;">
		<tr>
				<td>ID</td>
				<td>SUBJECT NAME</td>
				<td>MARK</td>
				<td>STUDENT ID</td>
				
			</tr>
			<tr th:each="score:${scores}">
				<td th:utext="${score.id}"></td>
				<td th:utext="${score.name}"></td>
				<td th:utext="${score.mark}"></td>
				<td th:utext="${score.student.id}"></td>
			</tr>
		
	</table>
</form>
</body>
</html> 
